body {
  background: #e0ecf8; ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculator {
  background: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
  width: 300px;
}

#display {
  width: 90%;
  font-size: 1.5em;
  padding: 15px;
  margin-bottom: 15px;
  text-align: right;
  border-radius: 10px;
  border: none;
  background-color: #f0f4f8;
  color: #333;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.2em;
  padding: 15px;
  border-radius: 12px;
  background-color: #f7f9fc;
  border: 1px solid #cbd6e2;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
button:hover {
  background-color: #d9e7fa;
  border-color: #a4c3f5;
  color: #1a73e8;
  transform: scale(1.05);
}